.modal-form__content{
    background-color: white;
    position: relative;
    top: calc(50% - 250px);
    left: calc(50% - 150px);

    border-radius: 10px;
    width: 300px;
    height: 400px;
}

.modal-form__form{
    display: grid;
    grid-template-rows: 80px 80px 140px 40px;

    padding: 30px;
    margin-top: 30px;
}

.modal-form__username{
    grid-row: 1;
}

.modal-form__image{
    grid-row: 2;
}

.modal-form__comment{
    grid-row: 3;
}

.modal-form__submit{
    grid-row: 4;
    width: 240px;
    height: 40px;
    justify-self: end;
    align-self: start;
}